description = "Header Parts"
==
<header class="header_area">
    <div class="header-top">
        <div class="container">
            <div class="d-flex align-items-center">
                <div id="logo">
                    <a href="{{ 'home'|page }}">
                        {% if this.theme.site_logo %}
                            <img src="{{ this.theme.site_logo }}"/>
                        {% else %}
                            <img src="{{ 'assets/img/logo.png'| theme }}" alt="" title="" />
                        {% endif %}
                    </a>
                </div>
                <div class="ml-auto d-none d-md-block d-md-flex">
                    {% if this.theme.site_info_call_switch %}
                    <div class="media header-top-info">
                        <span class="header-top-info__icon"><i class="fas fa-phone-volume"></i></span>
                        <div class="media-body">

                            <p>{{ this.theme.site_info_call_headline }}</p>
                            <p>Call: <a href="tel:{{ this.theme.site_info_call }}">{{ this.theme.site_info_call }}</a></p>

                        </div>
                    </div>
                    {% endif %}
                    {% if this.theme.site_info_mail_switch %}
                    <div class="media header-top-info">
                        <span class="header-top-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">

                            <p>{{ this.theme.site_info_mail_headline }}</p>
                            <p>Email: <a href="mailto:{{ this.theme.site_info_mail }}">{{ this.theme.site_info_mail }}</a></p>

                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav">
                        <li class="nav-item {% if this.page.id == 'home' %}active{% endif %}"><a class="nav-link" href="{{ 'home'|page }}">Home</a></li>
                        <li class="nav-item {% if this.page.id == 'about' %}active{% endif %}"><a class="nav-link" href="{{ 'about'|page }}">About</a></li>
                        <li class="nav-item {% if this.page.id == 'properties' %}active{% endif %}"><a class="nav-link" href="{{ 'properties'|page }}">Properties</a></li>
                        <li class="nav-item {% if this.page.id == 'gallery' %}active{% endif %}"><a class="nav-link" href="{{ 'gallery'|page }}">Gallery</a></li>
                        <li class="nav-item submenu dropdown {% if this.page.id == 'news' %}active{% endif %}">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">News</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="{{ 'news'|page }}">News</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ 'news-detail'|page }}">News Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item {% if this.page.id == 'contact' %}active{% endif %}"><a class="nav-link" href="{{ 'contact'|page }}">Contact</a></li>
                    </ul>
                </div>

                {% if this.theme.intro_social_menu %}
                <ul class="social-icons ml-auto">
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                </ul>
                {% endif %}

            </div>
        </nav>

        <!-- <div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between">
            <input type="text" class="form-control" id="search_input" placeholder="Search Here">
            <button type="submit" class="btn"></button>
            <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
        </div> -->
    </div>
</header>