.social-icons{

    li{
        display: inline-block;
        padding-right: 12px;

        &:last-child{
            padding-right: 0;
        }

        a{
            font-size: 14px;
            color: #a0a8ab;

            &:hover{
                color: $primary-color;
            }
        }
    }
}